.main-layout {
  @apply min-h-screen flex flex-col bg-gray-50;
}

.main-header {
  @apply bg-white shadow p-4;
}

.main-title {
  @apply text-xl font-semibold;
}

.main-content {
  @apply flex-1 p-4;
}
