node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log
lerna-debug.log

.env
.env.local
.env.development
.env.production
.env.staging
.env.test

frontend/.env
frontend/.env.*
backend/.env
backend/.env.*

logs/
*.log
*.log.*
log.txt

dist/
build/
frontend/build/
backend/build/

.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

.cache/
frontend/.cache/
backend/.cache/

coverage/
.nyc_output/
jest-cache/
jest-results.json

dump/
*.bson
*.gz

*.sqlite
*.db

.pids
*.pid
*.seed
*.pid.lock

.envrc
*.tgz\
