.auth-page {
  @apply w-full flex justify-center;
}

.auth-form {
  @apply space-y-4
}

.auth-card {
  @apply w-full max-w-md shadow-lg;
}

.auth-footer {
  @apply text-sm text-center text-gray-600;
}

.auth-link {
  @apply text-blue-600 hover:underline;
}

.auth-button {
  @apply w-full my-2
}

.auth-error {
  @apply text-sm text-red-600;
}
